---
layout: default
title: Saleh Hamadeh's Blog
full_posts: 6
---

<header id="nav-bar">
  <nav>
    <a href="/">Visit Profile</a>
  </nav>
</header>
<div id="blog" class="section">
  <div class="section-header">
    <h1>Saleh Hamadeh's Blog</h1>
    <h2>Sharing my knowledge, thoughts, and actions</h2>
  </div>
  <div id="blog-content">
    {% for post in site.posts %}
      {% if forloop.index < page.full_posts %}
      <div class='post'>
        <span class='date'>{{post.date | date_to_string}}</span>
        <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
        <div class='body'>{{post.content}}</div>
      </div>
      {% else %}
        {% if forloop.index == page.full_posts %}
        <h3>Older Posts</h3>
        <table class='post-list'>
        {% endif %}
        <tr>
          <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
          <td>{{ post.date | date_to_string }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
  </div>
</div>
