<h3>Books I like</h3>
<ul id="booklist" class="list-unstyled">
	<li>
		<a href="http://www.amazon.com/gp/product/1617290572/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1617290572&linkCode=as2&tag=salehama-20&linkId=2HN34METZ6NCDKV3"><img border="0" src="https://dl.dropboxusercontent.com/u/163831352/shamadeh.com%20assets/nodejs-in-action-cover.jpg" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=salehama-20&l=as2&o=1&a=1617290572" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</li>
	<li>
		<a href="http://www.amazon.com/gp/product/0132350882/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0132350882&linkCode=as2&tag=salehama-20&linkId=JJBDELZGLWDBXGUI"><img border="0" src="https://dl.dropboxusercontent.com/u/163831352/shamadeh.com%20assets/clean-code-cover.jpg" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=salehama-20&l=as2&o=1&a=0132350882" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
	</li>
</ul>
