<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/index.html">About Me</a>
        </li>
        <li>
          <a href="/projects.html">Projects</a>
        </li>
        <li class="active">
          <a href="/blog.html">Blog</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/salehhamadeh" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li><a href="https://twitter.com/salehhamadeh" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li><a href="https://github.com/salehhamadeh" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
        <li><a href="http://www.linkedin.com/pub/saleh-hamadeh/62/8b6/2a2" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a></li>
      </ul>
    </div>
  </div>
</div>