<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
	<form action="http://shamadeh.us3.list-manage1.com/subscribe/post?u=35a9df285ba128b01ee2552f6&amp;id=b98478fb0b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		<h2>Subscribe</h2>
	<div class="mc-field-group">
		<label for="mce-NAME">Full Name </label>
		<input type="text" value="" name="NAME" class="required" id="mce-NAME">
	</div>
	<div class="mc-field-group">
		<label for="mce-EMAIL">Email Address </label>
		<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
	</div>
		<div id="mce-responses" class="clear">
			<div class="response" id="mce-error-response" style="display:none"></div>
			<div class="response" id="mce-success-response" style="display:none"></div>
		</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
	    <div style="position: absolute; left: -5000px;"><input type="text" name="b_35a9df285ba128b01ee2552f6_b98478fb0b" value=""></div>
		<div class="clear"><input type="submit" style="background-color: #336699" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
	</form>
</div>
<!--End mc_embed_signup-->